$border-radius: 16px;

.ant-menu-light {
    max-height: 55px;

    .ant-divider-with-text-right {
        height: 100%;
        margin: 0;

        .ant-divider-inner-text {
            margin-top: 10px;
            
            .ant-menu-item-only-child {
                border-radius: 50px;
                margin-right: 5px;
                height: 100%;

                .ant-menu-title-content {
                    border-radius: 50px;
                    height: 100%;

                    .ant-btn {
                        border-radius: 16px;
                        padding-top: 0;
                        background-color: #f0f2f5;
                        padding: 0;

                        .ant-avatar-image {
                            margin-right: 5px;
                        }
                    }

                    .ant-dropdown-trigger {
                        border-radius: 50px;
                        height: 35px;
                        width: 35px;
                        padding: 0;

                        // .anticon-notification {
                        //     margin-top: 1px;
                        //     font-size: 150%;
                        // }
                    }
                }
            }

            .login_logout_button {
                padding: 0;
                border-radius: $border-radius;

                .ant-btn {
                    border-radius: $border-radius;
                    height: 35px;
                }
            }
            .ant-input-affix-wrapper {
                width: 200px;
                border-radius: $border-radius;
            }

            .ant-menu-item-only-child {
                padding: 0;
                height: 35px;
            }
        }
    }

    .ant-divider-with-text-left {
        height: 100%;
        margin-top: 10px;

        .ant-divider-inner-text {
            padding: 0;
            height: fit-content;
            margin-left: 20px;
            margin-top: 0;
            height: 55px;

            .ant-menu-item-active {
                padding: 0;
                height: 100%;

                .ant-avatar-image {
                    height: 35px;
                    width: 35px;
                }

                .ant-input-affix-wrapper {
                    margin-left: 10px;
                    border-radius: 16px;
                    height: 35px;
                    width: 230px;
                }
            }
        }
    }
}