// @import "~antd/dist/antd.css";
.login-container {
    column-span: 24;
    display: flex;
    min-height: 66vh;
    align-items: center;
    justify-content: center;
    //padding: 16px;
    font-family: "Arial";
    //margin-top: 10px;
    background-color: #f0f2f5;

    .ant-typography {
        font-size: 30px;
        padding-top: 20px;
    }

    .ant-input-prefix {
        margin-right: 20px;
    }

    .ant-input {
        
    }

    .ant-image {
        width: 300px;
        margin-right: 200px;
    }

    .ant-form-horizontal {
        width: 400px;
        justify-content: center;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);

        .ant-form-item {

            font-size: 15px;

            .ant-form-item-control-input-content {
                margin-right: 20px;
                margin-left: 20px;
            }
        }
        

        .ant-btn-primary {
            width: 100%;
            font-size: 15px;
        }
    }
}
